:root {
    --theme__color1: #FC7C04;
    --theme__color2: #2D2D2D;
    --theme__color3: #1C82CC;  
    --font1: 'Sofia Pro';
  }
/* button */
.default-button {
	font-size: 14px;
	min-height: 40px;
	padding: 0 19px;
	border-radius: 40px;
	background: var(--theme__color1);
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
    font-weight: 700;
}
.default-button:hover {
    color: #fff;
    background: var(--theme__color2);
}

.default-button--white-shadow {
    background: #dddddd;
    color: #000;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

/* small-tools */
.color-inherit {
    color: inherit !important;
}
.radius-50 {
    border-radius: 50%  !important;
}
.radius-0 {
    border-radius: 0 !important;
}
.font-italic {
    font-style: italic !important;
}
.w-initial {
    width: initial !important;
}
.h-initial {
    height: initial !important;
}
.underline {
    text-decoration: underline !important;
}
.underline:hover {
    text-decoration: underline !important;
}
.hover-underline:hover {
    text-decoration: underline !important;
}
.h-initial {
    height: initial !important;
}
.space-nowrap {
    white-space: nowrap;
}
.hidden-scroll {
    overflow-y: auto !important;
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
}
.hidden-scroll::-webkit-scrollbar {
    display: none !important;
}
.pseudo-before-none::before {
    display: none !important;
}
.pseudo-after-none::after {
    display: none !important;
}
.pseudo-none::before,
.pseudo-none::after {
    display: none !important;
}



.flip {
    transform: rotateY(180deg);
}
.flip-x {
    transform: rotateX(180deg);
}
.rotate1_8 {
    transform: rotate(45deg) !important;
}
.rotate2_8 {
    transform: rotate(90deg) !important;
}
.rotate3_8 {
    transform: rotate(135deg) !important;
}
.rotate4_8 {
    transform: rotate(180deg) !important;
}
.rotate5_8 {
    transform: rotate(225deg) !important;
}
.rotate6_8 {
    transform: rotate(270deg) !important;
}
.rotate7_8 {
    transform: rotate(315deg) !important;
}
.rotate8_8 {
    transform: rotate(360deg) !important;
}


/* bg */
.bg-theme1 {
    background: var(--theme__color1) !important;
}
.bg-theme2 {
    background: var(--theme__color2) !important;
}
.bg-theme3 {
    background: var(--theme__color3) !important;
}
.bg-theme4 {
    background: var(--theme__color4) !important;
}
.bg-transparent {
    background: transparent !important;
}


/* hover--bg */
.hover-bg-theme1:hover {
    background: var(--theme__color1) !important;
}
.hover-bg-theme2:hover {
    background: var(--theme__color2) !important;
}
.hover-bg-theme3:hover {
    background: var(--theme__color3) !important;
}
.hover-bg-theme4:hover {
    background: var(--theme__color4) !important;
}


/* fonts */
.font1 {
    font-family: var(--font1);
}
.font2 {
    font-family: var(--font2);
}
.font3 {
    font-family: var(--font3);
}
.font4 {
    font-family: var(--font4);
}


/* text-color */
.color-white {
    color: #fff !important;
}
.color-black {
    color: #000 !important;
}
.color-text {
    color: var(--text__color1) !important;
}
.color-theme1 {
    color: var(--theme__color1) !important;
}
.color-theme2 {
    color: var(--theme__color2) !important;
}
.color-theme3 {
    color: var(--theme__color3) !important;
}
.color-theme4 {
    color: var(--theme__color4) !important;
}

/* hover-color */
.hover-color-white {
    transition: 0.3s;
}
.hover-color-white:hover {
    color: #fff !important;
}
.hover-color-text {
    transition: 0.3s;
}
.hover-color-text:hover {
    color: var(--text__color1) !important;
}
.hover-color-theme1 {
    transition: 0.3s;
}
.hover-color-theme1:hover {
    color: var(--theme__color1) !important;
}
.hover-color-theme2 {
    transition: 0.3s;
}
.hover-color-theme2:hover {
    color: var(--theme__color2) !important;
}
.hover-color-theme3 {
    transition: 0.3s;
}
.hover-color-theme3:hover {
    color: var(--theme__color3) !important;
}
.hover-color-theme4 {
    transition: 0.3s;
}
.hover-color-theme4:hover {
    color: var(--theme__color4) !important;
}


/* text-align */
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.text-justified {
    text-align: justify !important;
}


/* font-weights */
.fw-300 {
    font-weight: 300 !important;
}
.fw-400 {
    font-weight: 400 !important;
}
.fw-500 {
    font-weight: 500 !important;
}
.fw-600{
    font-weight: 600!important;
}
.fw-700 {
    font-weight: 700 !important;
}
.fw-800{
    font-weight: 800!important;
}


/* nice-select-edit */
.nice-select {
    height: initial;
    min-height: initial;
    line-height: 1;
    padding: 0 20px 0 0;
    float: none;
    display: inline-block;
    border: none;
}
.nice-select:after {
    right: 15px !important;
    margin-top: -6px !important;
    border-width: 1px !important;
    height: 8px !important;
    width: 8px !important;
}
.nice-select.small:after {
    height: 6px !important;
    width: 6px !important;
    right: 10px!important;
    margin-top: -5px !important;
}
.nice-select .list .option, .nice-select.open .list .option {
	font-size: 14px;
	line-height: initial;
	min-height: initial;
	padding: 8px 21px;
	min-width: 50px;
	text-align: left !important;
	justify-content: flex-start;
}
.nice-select .option.selected {
    font-weight: inherit;
}
.nice-select .list {
    border-radius: 2px;
    min-width: 100%;
    width: initial;
}

@media (max-width: 767px) {
    .nice-select .list .option,
    .nice-select.open .list .option {
        font-size: 16px;
        line-height: initial;
        min-height: initial;
        padding: 8px 12px;
        min-width: 50px;
    } 
}
